.container {
  max-width: 320px;
  height: 342px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--backgroundGray);
  border-radius: 0 0 0 100px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    height: 583px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
