.formCashflow {
  /* margin-left: 23px; */
}

@media screen and (min-width: 768px) {
  .formCashflow {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 768px) {
  .formCashflow :last-child {
    /* margin-top: 15px; */
  }
}

@media screen and (min-width: 1280px) {
  .formCashflow {
    display: flex;
    margin-top: 33px;
    margin-bottom: 59px;
  }
}

/* .category:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
} */

.description {
  height: 40px;
  width: 282px;
  border: solid 2px #f5f6fb;
  border-radius: 16px 0 0 0;
}
@media screen and (min-width: 768px) {
  .description {
    /* height: 40px; */
    width: 175px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .description {
    width: 289px;
  }
}

/* .description:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
} */

.formCashflow .category {
  font-size: 12px;
  color: #52555f;
  font-weight: 500;

  width: 188px;
  height: 40px;

  border: solid 2px #f5f6fb;
  padding-left: 6px;
  padding-right: 6px;
}

@media screen and (min-width: 768px) {
  .formCashflow .category {
    width: 171px;
  }
}
@media screen and (min-width: 1280px) {
  .formCashflow .category {
    width: 188px;
  }
}

.boxCalculator {
  position: relative;
}

.calculator {
  width: 185px;
  height: 40px;
  border: solid 2px #f5f6fb;
  border-radius: 0 16px 16px 0;
  margin-right: 27px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 104px;
  }
}
@media screen and (min-width: 1280px) {
  .calculator {
    width: 124px;
  }
}

/* .calculator:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
} */

.calcIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 60%;
  color: var(--fontСolorTextForms);
}

/* .btnBox {
  display: block;
}

@media screen and (min-width: 768px) {
  .btnBox {
  }
}
@media screen and (min-width: 1280px) {
  .btnBox {
    display: flex;
  }
} */

.btn {
  margin-right: 15px;
}

/* .formCashflow
  .MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: red;
  background-color: royalblue;
}

.formCashflow
  .MuiList-root.MuiList-padding.MuiMenu-list.ss-6hp17o-MuiList-root-MuiMenu-list {
  background-color: royalblue;
}

.formCashflow .MuiSelect-select {
  color: aqua;
} */
