.formCashflow {
  /* margin-left: 23px; */
  display: flex;
  margin-top: 33px;
  margin-bottom: 59px;
}

.formCashflow .category {
  font-size: 12px;
  color: #52555f;

  font-weight: 500;
  width: 188px;
  height: 40px;
  border: solid 2px #f5f6fb;
  padding-left: 6px;
  padding-right: 6px;
}

.category:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
}
.description {
  width: 289px;
  height: 40px;

  border: solid 2px #f5f6fb;
  border-radius: 16px 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
}

.boxCalculator {
  position: relative;
}

.calculator {
  width: 124px;
  height: 40px;
  border: solid 2px #f5f6fb;
  border-radius: 0 16px 16px 0;
  margin-right: 27px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: right;
}

.calculator:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
}

.calcIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 60%;
  color: var(--fontСolorTextForms);
}

.btn {
  margin-right: 15px;
}

.formCashflow
  .MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: red;
  background-color: royalblue;
}

.formCashflow
  .MuiList-root.MuiList-padding.MuiMenu-list.ss-6hp17o-MuiList-root-MuiMenu-list {
  background-color: royalblue;
}

.formCashflow .MuiSelect-select {
  color: aqua;
}
