.section {
  width: 1060px;
  height: 196px;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.section_title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 188px;
  padding: 5px;
  height: 108px;
  display: grid;
}

.list {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.sum {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
  margin-bottom: 5px;
}

.category_title {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 5px;
  color: #52555f;
}
