.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 142px;
}

.wrapperForm {
  width: 300px;
  height: 525px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* p {
  margin: 0;
  margin-bottom: 0.25rem;
  color: red;
  font-size: 0.5rem;
} */

.formContainer {
  display: block;
  width: 253px;
}

.gogRegContainer {
  height: 158px;
  background: #ffffff;
}

.text {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #52555f;
  margin-bottom: 24px;
}

.input {
  width: 253px;
  height: 52px;

  background: #f6f7fb;
  border-radius: 30px;
  border: none;
  margin-top: 12px;
  padding-left: 20px;
}

.label {
  width: 242px;
  height: 12px;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;

  color: #000000;
}
.butBox {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}

.buttonAct {
  width: 125px;
  height: 44px;

  background: #ff751d;
  border-radius: 16px;
  border: none;
}
.butTextAct {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .wrapperForm {
    width: 436px;
    height: 535px;
  }
  .gogRegContainer {
    height: 168px;
  }
}
