.linkReport {
    display: flex;
    justify-content: space-between;
}

.linkReport__link{
    text-decoration:none;
    color: rgba(82, 85, 95, 0.7);
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.04em;
} 