.reportSwitcher {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.reportSwitcher__text{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}