.tabCashflow {
  width: 780px;
  height: 384px;
  background-color: var(--secondaryBackgroundColor);
  border-radius: 16px 16px 0 0;
  margin-right: 30px;
  /* max-height: 400px; */
}

.headTabl {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;

  height: 38px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.line {
  height: 40px;
  background-color: var(--mainBackgroundColor);
  outline: solid 1px var(--mainBackgroundColor);
}

/* ///////////////////// */

.thHeadTabl {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;

  height: 38px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  align-items: center;
  /* background-color: #f5f6fb; */
}
