.tabCashflow {
  width: 780px;
  height: 384px;
  background-color: var(--secondaryBackgroundColor);
  border-radius: 16px 16px 0 0;
  margin-right: 30px;
}

.tableBox {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.headTabl {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;

  height: 38px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  /* background-color: #f5f6fb; */
}

.lineBox {
  /* border: turquoise;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: red;
  outline: #00ff00 dotted thick; */
  /* outline: 3px solid red; */
}

.line {
  height: 40px;
  background-color: var(--mainBackgroundColor);
  outline: solid 1px var(--mainBackgroundColor);
}
