.body {
  background-color: #e5e5e5;
}

.section {
  background-color: var(--backgroundGray);
  border-radius: 0 0 0 100px;
  max-width: 1280px;
  height: 583px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  object-fit: contain;
  width: 100%;
  height: 232px;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../img/Kapusta2.png);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(../../img/Group\ 37.png);
    object-fit: contain;
    width: 100%;
    height: 232px;
  }
}

.boxBalance {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  justify-content: right;

  margin-right: 115px;
  padding-top: 40px;
}

.analysis {
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--mainBackgroundColor);
  border-radius: 0px 30px 30px 30px;
  padding-bottom: 61px;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
}

.cashflowInput {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  align-items: center;
}

.description:focus {
  outline: var(--backgroundActive);
  border: solid 2px var(--backgroundActive);
}

.boxTabl {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.monthCashflow {
  width: 230px;
  height: 278px;
  /* background-color: turquoise; */
  border-radius: 16px 16px 16px 0;
}

.btnForMobil {
  display: none;
}

.boxBtn {
  margin-left: 110px;
  margin-top: 9px;
}

.navBtn {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;

  width: 138px;
  height: 40px;
  color: black;
  background-color: #fafbfd;
  border: none;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
}

.navBtn:hover {
  color: var(--backgroundActive);
}

.cashflowInput .datePicker {
  width: 74px;
  height: 40px;
  border: none;
  outline: none;
}

.summaryTitle {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;
  color: #000000;

  height: 38px;
  justify-content: center;
  align-items: center;

  background-color: #f5f6fb;
  border-radius: 16px 16px 0 0;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;

  text-transform: uppercase;
}

.btn {
}
