.forma {
  margin-right: 205px;
}

.text {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 700;

  margin-right: 21px;

  color: var(--fontColorSecondary);
}

.summ {
  font-size: 12px;

  width: 125px;
  height: 37px;
  line-height: 1.17;
  font-weight: 700;

  text-align: center;

  border-radius: 16px;
  border: solid 2px;
  border-color: var(--mainBackgroundColor);
  background-color: var(--backgroundGray);
  color: var(--mainFontColor);
  outline: none;
  margin-right: 15px;
}
