:root {
  --mainBackgroundColor: #ffffff;
  --secondaryBackgroundColor: #f6f7fb;
  --backgroundActive: #ff751d;
  --chartBackgroundFirst: #ff751d;
  --chartBackgroundSecond: #ff751d;
  --backgroundGray: #f2f5fc;

  --mainFontColor: #000000;
  --fontСolorTextForms: #52555f;
  --errorFontColor: #eb5757;
  --fontColorDataWater: #a6abb9;
  --placeholderFontColor: #c7ccdc;
  --fontColorSecondary: rgba(82, 85, 95, 0.7);
  --fontColorIncome: #407946;
  --fontColorCosts: #e7192e;
  --totalIncomeFont: #407946;
  --totalExpenseFont: #e53935;

  --fillColorModal: #1d346a @0%;
  --fillLinearGradient: #031634 @100%;

  --separatorColor: #e0e5eb;
  --elipsColor: #f5f6fa;

  --time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}


::-webkit-scrollbar {
  width: 6px;
  height: 8px;
 background-color: #F5F6FB);
}

::-webkit-scrollbar-thumb {
  background-color: #FF751D;
  border-radius: 9em;
}

/* ::-webkit-scrollbar-thumb:hover :focus{
   background-color: #253861;
   width: 18px;
} */
