.sections {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapperSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
  text-align: center;
}

.upperBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 19px 0 ;
  margin-bottom: 30px;
}

.mobileBar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sections {
    max-width: 666px;
  }

  .wrapperSection {
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }

  .upperBar {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0;
    margin-bottom: 30px;
  }

  .mobileBar {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .sections {
    width: 1060px;
  }
  
  .wrapperSection {
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }

  .upperBar {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0;
    margin-bottom: 30px;
  }

  .mobileBar {
    display: flex;
    flex-direction: row;
  }
}
